<footer class="footer" style="margin-top: 200px">

    <div class="container">
        
        <div class="row visible-xs-block visible-sm-block">
            <!-- VISIBLE ON MOBILE -->
            <div class="col-sm-10 col-xs-12 widget-container widget_nav_menu">
                <h3 class="title-widget"><a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseFooter">Learn more</a></h3>
                <div id="collapseFooter" class="panel-collapse collapse">
                    <ul class="list-unstyled">
                        <li><a href="http://www.sheffield.ac.uk/library/rdm/orda" target="_blank">Get started with ORDA</a></li>
                        <li><a href="http://sheffield.ac.uk/library/rdm/dmp" target="_blank">Data management planning</a></li>
                        <li><a href="http://sheffield.ac.uk/library/rdm" target="_blank">Research data management support</a></li>
                        <li><a href="http://www.sheffield.ac.uk/library/openaccess" target="_blank">Open Access publishing support</a></li>
                        <li><a href="http://www.sheffield.ac.uk/library/libstaff/researchservices" target="_blank">Contact library research services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 hidden-xs pull-right">
                <div class="col-md-20 col-lg-14">
                    <a href="http://www.sheffield.ac.uk/" target="_blank"><img src="/img/TUOSlogo-black.png" alt="University crest"></a>
                </div>
            </div>            
            <!-- ./VISIBLE ON MOBILE -->
            
            <!-- VISIBLE ON MOBILE -->
            <div class="col-sm-10 col-xs-12 widget-container widget_nav_menu">
                <h3 class="title-widget"><a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseFooterTwo">Policy</a></h3>
                <div id="collapseFooterTwo" class="panel-collapse collapse">
                    <ul class="list-unstyled">
                        <li><a href="http://www.shef.ac.uk/polopoly_fs/1.553350!/file/GRIPPolicyextractRDM.pdf" target="_blank">University Policy on research data management</a></li>
                        <li><a href="http://www.sheffield.ac.uk/polopoly_fs/1.356709!/file/GRIPPolicySenateapproved.pdf" target="_blank">University Policy on Good Research & Innovation Practices</a></li>
                        <li><a href="http://www.sheffield.ac.uk/library/rdm/funders" target="_blank">Summary of major funder policies</a></li>
                    </ul>
                </div>
            </div>
            <!-- ./VISIBLE ON MOBILE -->
            
            <!-- VISIBLE ON MOBILE -->
            <div class="col-sm-10 col-xs-12 widget-container widget_nav_menu">
                <h3 class="title-widget"><a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseFooterThree">More research from Sheffield</a></h3>
                <div id="collapseFooterThree" class="panel-collapse collapse">
                    <ul class="list-unstyled">
                        <li><a href="http://eprints.whiterose.ac.uk/" target="_blank">Publications: White Rose Research Online</a></li>
                        <li><a href="http://etheses.whiterose.ac.uk/" target="_blank">Theses: White Rose eTheses Online</a></li>
                        <li><a href="https://www.sheffield.ac.uk/nap/service/redirect/mypubli" target="_blank">Submit your own publications (TUoS only)</a></li>
                    </ul>
                </div>
            </div>
            <!-- ./VISIBLE ON MOBILE -->
        </div>

        <!-- start: Footer links -->
        <div class="row hidden-xs hidden-sm">
            
            <!-- HIDDEN ON MOBILE -->
            <div class="col-lg-3 col-md-3 col-xs-6 hidden-xs hidden-sm">
                <ul class="list-unstyled">
                    <li class="widget-container widget_nav_menu">
                        <h3 class="title-widget">Learn more</h3>
                        <ul>
                            <li><a href="http://www.sheffield.ac.uk/library/rdm/orda" target="_blank">Get started with ORDA</a></li>
                            <li><a href="http://sheffield.ac.uk/library/rdm/dmp" target="_blank">Data management planning</a></li>
                            <li><a href="http://sheffield.ac.uk/library/rdm" target="_blank">Research data management support</a></li>
                            <li><a href="http://www.sheffield.ac.uk/library/openaccess" target="_blank">Open Access publishing support</a></li>
                            <li><a href="http://www.sheffield.ac.uk/library/libstaff/researchservices" target="_blank">Contact library research services</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- ./HIDDEN ON MOBILE -->
            
            <!-- HIDDEN ON MOBILE -->
            <div class="col-lg-3 col-md-3 col-xs-6 hidden-xs hidden-sm">
                <ul class="list-unstyled">
                    <li class="widget-container widget_nav_menu">
                        <h3 class="title-widget">Policy</h3>
                        <ul>
                            <li><a href="http://www.shef.ac.uk/polopoly_fs/1.553350!/file/GRIPPolicyextractRDM.pdf" target="_blank">University Policy on research data management</a></li>
                            <li><a href="http://www.sheffield.ac.uk/polopoly_fs/1.356709!/file/GRIPPolicySenateapproved.pdf" target="_blank">University Policy on Good Research & Innovation Practices</a></li>
                            <li><a href="http://www.sheffield.ac.uk/library/rdm/funders" target="_blank">Summary of major funder policies</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- ./HIDDEN ON MOBILE -->
            
            <!-- HIDDEN ON MOBILE -->
            <div class="col-lg-4 col-md-4 col-xs-12 hidden-xs hidden-sm">
                <ul class="list-unstyled">
                    <li class="widget-container widget_nav_menu">
                        <h3 class="title-widget">More research from Sheffield</h3>
                        <ul>
                            <li><a href="http://eprints.whiterose.ac.uk/" target="_blank">Publications: White Rose Research Online</a></li>
                            <li><a href="http://etheses.whiterose.ac.uk/" target="_blank">Theses: White Rose eTheses Online</a></li>
                            <li><a href="https://www.sheffield.ac.uk/nap/service/redirect/mypubli" target="_blank">Submit your own publications (TUoS only)</a></li>
                        </ul>
                    </li>
                </ul>
            </div>   
            <!-- ./HIDDEN ON MOBILE -->
                        
            <div class="col-lg-2 col-md-2 hidden-xs hidden-sm pull-right">
                <div class="col-md-20 col-lg-14">
                    <a href="http://www.sheffield.ac.uk/" target="_blank"><img src="/img/TUOSlogo-black.png" alt="University crest"></a>
                </div>
            </div>
          
        </div>
        <!-- end: Footer links -->

    </div>
</footer>
<!-- end: Footer -->
