<h1 style="margin-left: 5px; float: left;">{{ page.subtitle }}</h1>

<div class="btn-group pull-right" style="margin-top: 15px">
    {% if page.filter %}
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"> <b>Filter: </b> {% if page.filter_type == 'all' %} All types {% else %} {{page.filter_type}} {% endif %} <span aria-hidden="true" class="glyphicon glyphicon-filter"></span> </button>
            <ul role="menu" class="dropdown-menu pull-right">
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="all" id="all">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'all' %} active {% else %} invisible {% endif %}"></span>All types</a>
                </li>
                <li class="dropdown-header"></li>
                <li class="divider"></li>
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="Figure" id="Figure">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'Figure' %} active {% else %} invisible {% endif %}"></span>Figure</a>
                </li>
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="Media" id="Media">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'Media' %} active {% else %} invisible {% endif %}"></span>Media</a>
                </li>
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="Dataset" id="Dataset">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'Dataset' %} active {% else %} invisible {% endif %}"></span>Dataset</a>
                </li>
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="Fileset" id="Fileset">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'Fileset' %} active {% else %} invisible {% endif %}"></span>Fileset</a>
                </li>
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="Poster" id="Poster">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'Poster' %} active {% else %} invisible {% endif %}"></span>Poster</a>
                </li>
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="Paper" id="Paper">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'Paper' %} active {% else %} invisible {% endif %}"></span>Paper</a>
                </li>
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="Presentation" id="Presentation">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'Presentation' %} active {% else %} invisible {% endif %}"></span>Presentation</a>
                </li>
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="Thesis" id="Thesis">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'Thesis' %} active {% else %} invisible {% endif %}"></span>Thesis</a>
                </li>
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="Code" id="Code">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'Code' %} active {% else %} invisible {% endif %}"></span>Code</a>
                </li>
                <li class="{% if page.ajax_order %}filter_type_ajax{% else %}filter_type{% endif %}" value="Metadata record" id="Metadata record">
                    <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.filter_type == 'Metadata record' %} active {% else %} invisible {% endif %}"></span>Metadata record</a>
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" style="margin-left: 5px !important;"><b>Sort:</b> 
            {% if page.order_by == 'published_date' %} Date published {% endif %} 
            {% if page.order_by == 'modified_date' %} Date modified {% endif %}
            {% if page.order_by == 'views' %} Views {% endif %}
            {% if page.order_by == 'downloads' %} Downloads {% endif %}
            {% if page.order_by == 'cites' %} Citations {% endif %}
            <span aria-hidden="true" {% if page.order_direction == 'asc' %} class="glyphicon glyphicon glyphicon-arrow-up" {% else %} class="glyphicon glyphicon glyphicon-arrow-down" {% endif %}></span>
        </button> 
        <ul role="menu" class="dropdown-menu pull-right">
            <li class="dropdown-header"></li>
            <li class="{% if page.ajax_order %}order_by_ajax{% else %}order_by{% endif %}" value="published_date" id="published_date">
                <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.order_by == 'published_date' %} active {% else %} invisible {% endif %}"></span>Date published</a>
            </li>
            <li class="{% if page.ajax_order %}order_by_ajax{% else %}order_by{% endif %}" value="modified_date" id="modified_date">
                <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.order_by == 'modified_date' %} active {% else %} invisible {% endif %}"></span>Date modified</a>
            </li>
            <li class="{% if page.ajax_order %}order_by_ajax{% else %}order_by{% endif %}" value="views" id="views">
                <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.order_by == 'views' %} active {% else %} invisible {% endif %}"></span>Views</a>
            </li>
            <li class="{% if page.ajax_order %}order_by_ajax{% else %}order_by{% endif %}" value="downloads" id="downloads">
                <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.order_by == 'downloads' %} active {% else %} invisible {% endif %}"></span>Downloads</a>
            </li>
            <li class="{% if page.ajax_order %}order_by_ajax{% else %}order_by{% endif %}" value="cites" id="cites">
                <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.order_by == 'cites' %} active {% else %} invisible {% endif %}"></span>Citations</a>
            </li>                                                              
            <li class="divider"></li>
            <li class="dropdown-header"></li>
            <li class="{% if page.ajax_order %}order_ajax{% else %}order{% endif %}" value="asc" id="asc">
                <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.order_direction == 'asc' %} active {% else %} invisible {% endif %}"></span>Ascending</a>
            </li>
            <li class="{% if page.ajax_order %}order_ajax{% else %}order{% endif %}" value="desc" id="desc">
                <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-ok btn-xs {% if page.order_direction == 'desc' %} active {% else %} invisible {% endif %}"></span>Descending</a>
            </li>                        
        </ul>
    </div>
</div>